body {
    width: 350px;
    margin: 0;
    padding: 0 10px;
  
    font-size: 14px;
    font-family: "Arial", sans-serif;
  }
  table {
    
     border-collapse: collapse;
     padding: 5px;
    }
  .string1 {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    color: white;
   }
   .data2{
     background: lightblue;
     text-align: center;
     }
  td {
     width: 33%;
     padding: 10px;
     }
     
  .string1 td {
    font-weight: bold;
    padding: 10px;
  }
  
  tr:nth-child(3) td, tr:nth-child(5) td {
    background-color: lightyellow;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
  }